---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/shared/NavBar.astro';
---

<Layout title="Welcome to Astro.">
	<NavBar />
	<main>

		<section class="height-control">

		</section>

	</main>
</Layout>


<style>
	.height-control {
		height: calc(100vh - 69px);
	}
</style>